table{
    text-align: center;
    background-color: rgb(192, 192, 248);
    padding: 1%;
    /* margin-top: 12%; */
    /* margin-left: 44%; */
}
input{
    background-color: rgb(94, 88, 138);
    color: rgb(255, 255, 255);
    font-size: 130%;
    border-radius: 15%;
}



H1{
    color: white;
}

.FF{
    background-color: rgb(209, 209, 255);
    padding: 2%;
}